body {
    background-color: #0f121f;
    background-image: url(stars.png);
    background-repeat: no-repeat;
    color: #fff;
    height:100vh;
    width: 100vw;
    margin: 0;
}

body * {
    font-family:'Courier New', Courier, monospace
}

div.wrapper {
    display: flex;
    width: auto;
    height: 100%;
}

div.content {
    flex-grow: 1;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0
}

a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}

div.task-index-wrapper {
    border: solid;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

div.task {
    border: solid pink;
    padding: 20px 30px;
    margin: 20px 0;
}

nav {
    width: 280px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.nav-list li {
    list-style: none;
    height: 50px;   
}

.nav-list li:hover {
    background-color: aqua;
    color: black;
}

div.task-index-wrapper {
    padding: 100px;
}

.task p {
    margin: 0;
}